extends ./../partials/jade/templates/bio_template.jade

block bio_header_image
    img.Avatar(src="../assets/images/barry-jb.jpg")


block bio_content
    .row
        h1.PersonName.text-center barry jb
    .row
        .col-sm-6
            p Me:
                span Web Developer
            p Colour:
                span Royal Blue
            p Instrument:
                span Guitar
            p Language:
                span JavaScript
        .col-sm-6
            p Next holiday:
                span Skiing in Japan
            p Quote:
                span &ldquo;The genius thing that we did was we didn&#8217;t give up.&rdquo; - Jay-Z
            p Origin:
                span England

block bio_footer
    .row
        .col-sm-6
            p Want to chat/communicate/say hi?
            a(href="#") Email me
        .col-sm-6
            ul.SocialLinks
                li
                    a.web(href="#", title="Web") Web
                li
                    a.twitter(href="https://twitter.com/barryjb4", target="_blank", title="Twitter") Twitter
                li
                    a.facebook(href="#", title="Facebook") Facebook
                li
                    a.googleplus(href="#" title="Google+") Google+
                li
                    a.linkedin(href="#" title="LinkedIn") LinkedIn
                li
                    a.github(href="#" title="Github") GitHub
