extends ./../partials/jade/templates/bio_template.jade

block bio_header_image
    img.Avatar(src="../assets/images/christian-arevalo.jpg")


block bio_content
    .row
        h1.PersonName.text-center Christian Arevalo
    .row
        .col-sm-6
            p Me:
                span Web Developer
            p Colour:
                span #FD0100
            p Instrument:
                span Air Guitar
            p Language:
                span PHP
        .col-sm-6
            p Next holiday:
                span
            p Quote:
                span
            p Origin:
                span Colombia

block bio_footer
    .row
        .col-sm-6
            p Want to chat/communicate/say hi?
            a(href="#") Email me
        .col-sm-6
            ul.SocialLinks
                li
                    a.web(href="#", title="Web") Web
                li
                    a.twitter(href="https://twitter.com/carevaloq87", target="_blank", title="Twitter") Twitter
                li
                    a.facebook(href=" https://www.facebook.com/christian.arevaloquijano", target="_blank", title="Facebook") Facebook
                li
                    a.googleplus(href="#" title="Google+") Google+
                li
                    a.linkedin(href="http://www.linkedin.com/in/christianaq", target="_blank", title="LinkedIn") LinkedIn
                li
                    a.github(href="#" title="Github") GitHub