extends ./../partials/jade/templates/bio_template.jade

block bio_header_image
    img.Avatar(src="../assets/images/cian-oleary.jpg")


block bio_content
    .row
        h1.PersonName.text-center Cian O'Leary
    .row
        .col-sm-6
            p Me:
                span Internet Wizard
            p Colour:
                span Blue
            p Instrument:
                span Mayonnaise
            p Language:
                span JavaScript & Front End Stuff
        .col-sm-6
            p Next holiday:
                span New York
            p Quote:
                span "Who broke the bloody build!"
            p Origin:
                span Australia

block bio_footer
    .row
        .col-sm-6
            p Want to chat/communicate/say hi?
            a(href="#") Email me
        .col-sm-6
            ul.SocialLinks
                li
                    a.web(href="#", title="Web") Web
                li
                    a.twitter(href="https://twitter.com/cianoleary98", target="_blank", title="Twitter") Twitter
                li
                    a.facebook(href="#", title="Facebook") Facebook
                li
                    a.googleplus(href="#", title="Google+") Google+
                li
                    a.linkedin(href="https://www.linkedin.com/in/cian-oleary-450a3082", target="_blank", title="LinkedIn") LinkedIn
                li
                    a.github(href="https://github.com/25564", target="_blank", title="Github") GitHub
