extends ./../partials/jade/templates/bio_template.jade

block bio_header_image
    img.Avatar(src="../assets/images/david-farrow.jpg")


block bio_content
    .row
        h1.PersonName.text-center David Farrow
    .row
        .col-sm-6
            p Me:
                span Software developer & startup enthusiast
            p Colour:
                span Whispering peach
            p Instrument:
                span The Brazen Bull
            p Language:
                span Agnostic
        .col-sm-6
            p Next holiday:
                span US (San Fran) / Canada
            p Quote:
                span "I actually don't have a bad hairline" - Donald Trump
            p Origin:
                span Australia

block bio_footer
    .row
        .col-sm-6
            p Want to chat/communicate/say hi?
            a(href="#") Email me
        .col-sm-6
            ul.SocialLinks
                li
                    a.web(href="http://davidfarrow.me", target="_blank", title="Web") Web
                li
                    a.twitter(href="https://twitter.com/df_404", target="_blank", title="Twitter") Twitter
                li
                    a.facebook(href="#", title="Facebook") Facebook
                li
                    a.googleplus(href="#" title="Google+") Google+
                li
                    a.linkedin(href="https://au.linkedin.com/in/dfarrow", target="_blank", title="LinkedIn") LinkedIn
                li
                    a.github(href="https://github.com/DFGU", target="_blank", title="Github") GitHub
