extends ./../partials/jade/templates/bio_template.jade

block bio_header_image
    img.Avatar(src="../assets/images/joy-kaur.jpg")


block bio_content
    .row
        h1.PersonName.text-center Joy Kaur
    .row
        .col-sm-6
            p Me:
                span Business Analyst
            p Colour:
                span tbc
            p Instrument:
                span tbc
            p Language:
                span tbc
        .col-sm-6
            p Next holiday:
                span tbc
            p Quote:
                span tbc
            p Origin:
                span India

block bio_footer
    .row
        .col-sm-6
            p Want to chat/communicate/say hi?
            a(href="#") Email me
        .col-sm-6
            ul.SocialLinks
                li
                    a.web(href="#", title="Web") Web
                li
                    a.twitter(href="#", title="Twitter") Twitter
                li
                    a.facebook(href="#", title="Facebook") Facebook
                li
                    a.googleplus(href="#" title="Google+") Google+
                li
                    a.linkedin(href="#" title="LinkedIn") LinkedIn
                li
                    a.github(href="#" title="Github") GitHub
