footer.footer
	span Follow us:
	a(href="https://twitter.com/JdpInternship" target="_blank")
		i.fa.fa-twitter-square.fa-3(aria-hidden="true")
	a(href="https://www.facebook.com/theJDPInternship/" target="_blank")
		i.fa.fa-facebook-square.fa-3(aria-hidden="true")
	a(href="https://www.youtube.com/channel/UCZgiyaJd8LFWXbOxIgeSkbg" target="_blank")
		i.fa.fa-youtube-play.fa-3(aria-hidden="true")
	a(href="https://bitbucket.org/David-JDP/jdp-internship-website" target="_blank")
		i.fa.fa-bitbucket-square.fa-3(aria-hidden="true")
