include ./head.jade

header#HeaderWrap
    .container
        .row
            .col-sm-4
                .ImageWrap
                    block Logo
                        a(href="/") 
                            img(src="../assets/images/logo.png")
            .col-sm-8.Nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/#interns_anchor") Who we Are
                    li
                        a(href="/#videos_anchor") Videos
                    li
                        a(href="/#contact_anchor") Contact                      

            a(href="#")#menu-toggle-wrapper.TransitionAll
                #menu-toggle