@import "MobileNav.scss";

header {
  background: #ffffff;
  height:50px;
  position: fixed;
  width: 100%;
  z-index: 200;
  top:0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  h1 {
    font-size: 20px;
    line-height: 50px;
    color: #333;
  }
  
  .ImageWrap {
    margin-top: 5px; 
    img { 
      height: 75%;
    }
  }
  
  .Nav {
    ul {
      list-style-type: none;
      height: 100%;
      float: right;

      li {
        float: left;
        line-height: 50px;
        padding: 0 12px;

        a {
          color: #444;
          text-decoration: none;
          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}