section.Landing
    .container
        .row
            .col-sm-6.VideoWrap
                iframe(src="https://www.youtube.com/embed/DAes1Vn0UTw" frameborder="0" allowfullscreen)
            .col-sm-6.WordWrap
                h2 About The JDP Internship
                p The JDP Internship is the World’s Number 1 Software Development Reality Show. It follows the journey of an eclectic mix of final year university students, recent graduates, recent arrivals to Australia, and professionals undergoing a career change as they go through an internship at Just Digital People in Brisbane, Australia. 
                a.btn.Primary(href="https://www.youtube.com/channel/UCZgiyaJd8LFWXbOxIgeSkbg?sub_confirmation=1", target="_blank") View More
