section.ContactUs
    .container
        .row
            .col-sm-12.Contact 
                strong Contact us for any questions, feedback, applications, or just to say hi :)
                br
                form(action='https://formspree.io/josh@justdigitalpeople.com.au', method='POST')
                    h3.form-text Name
                    input(type='text', size='40', name='name')
                    h3.form-text Email
                    input(type='email', size='40', name='_replyto')
                    h3.form-text Message 
                    textarea(name='message', rows='5', cols='40')
                    input(type='hidden', name='_subject', value='JDP-Internship contact form')
                    input(type='text', name='_gotcha', style='display:none')
                    br
                    input.btn.Primary(type='submit', value='Send', style='margin-top:10px; margin-left:0')