section.OurInterns
    .container
        .row
            h1.Title The Interns
        .row
            .Entry
                .internalWrap
                    a(href="bio/david2.html")
                        .ImageWrap
                            img(src="assets/images/david-ley.jpg")
                        h3 David Ley            
            .Entry
                .internalWrap
                    a(href="bio/barry.html")
                        .ImageWrap
                            img(src="assets/images/barry-jb.jpg")
                        h3 barry jb
            .Entry
                .internalWrap
                    a(href="bio/christian.html")
                        .ImageWrap
                            img(src="assets/images/christian-arevalo.jpg")
                        h3 Christian Arevalo
            .Entry
                .internalWrap
                    a(href="bio/cian.html")
                        .ImageWrap
                            img(src="assets/images/cian-oleary.jpg")
                        h3 Cian O'Leary
            .Entry
                .internalWrap
                    a(href="bio/david.html")
                        .ImageWrap
                            img(src="assets/images/david-farrow.jpg")
                        h3 David Farrow
            .Entry
                .internalWrap
                    a(href="bio/joy.html")
                        .ImageWrap
                            img(src="assets/images/joy-kaur.jpg")
                        h3 Joy Kaur
                        
            