section.Videos.Dark
    .container
        .row
            h1.Title Videos
            //- h2.Contact  User discovered error here (patched)
        .row
            .VideoFeed.col-sm-10.col-sm-offset-1
                
        .row
            .col-sm-10.col-sm-offset-1
                input.pageToken#pageToken
                //a(href="https://www.youtube.com/channel/UCZgiyaJd8LFWXbOxIgeSkbg?sub_confirmation=1", target="_blank").btn.load#pageTokenNext View More
                button.btn.load#pageTokenNext View More

.lightbox-container
    #lightbox
        iframe#video_frame(width="560" height="315" src="" frameborder="0" allowfullscreen)
