html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel='stylesheet')
		link(href='style.css', rel='stylesheet')
		
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		
		// Basic Page Config
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="keywords", content="")
		
		title JDP The Internship - 404		

	body
		.img-404
			img(src="assets/images/404.png")
			h2 404 - Ohhh Noooo